@import "tailwindcss";
@plugin "daisyui";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@theme {
  /* Custom Colors */
  --color-blue-50: #ecf3fe;
  --color-blue-150: #c7daF9;
  --color-blue-200: #a8c7fa;
  --color-blue-300: #80aef8;
  --color-blue-400: #689ef7;
  --color-blue-500: #689ef7;
  --color-blue-600: #3c7adf;
  --color-blue-700: #2f5fae;
  --color-blue-800: #244a87;
  --color-blue-900: #1c3867;
  --color-blue2-50: #f3f9fc;
  --color-blue2-100: #d9ecf6;
  --color-blue2-100: #c4d9fc;
  --color-blue2-200: #c7e2f2;
  --color-blue2-300: #add5ec;
  --color-blue2-400: #9dcde8;
  --color-blue2-500: #85c1e2;
  --color-blue2-600: #79b0ce;
  --color-blue2-700: #5e89a0;
  --color-blue2-800: #496a7c;
  --color-blue2-900: #38515f;
  --color-black: #404040;
  --color-backgroud: #F6F9FF;
  --color-card: #FEFFFC;
  
  /* Custom Fonts */
  --font-montserrat: "Montserrat", sans-serif;

  /* Custom Gradient */
  --background-image-gradient-medisphere: linear-gradient(
    to bottom,
    #ecf3fe 0%,
    #B3D8FE 25%,
    #70A9F9 50%,
    #497BD5 75%,
    #214CB0 100%
  );
}